* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@font-face {
    font-family: 'Hearts';
    src: url('fonts/LucySaidOkay.ttf');
  }

  @font-face {
    font-family: 'Tasks';
    src: url('fonts/FeelfreePersonalUseRegular-lg2Bw.ttf');
  }

  @font-face {
    font-family: 'Cookie';
    src: url('fonts/Cookiemonster-gv11.ttf');
  }

  :root {
    --pink: rgb(253, 146, 187);
  }

html {
  height: 100%;
  background-image: url('images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

body {
    font-family: sans-serif;
  }

  #container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
  }

  header {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  h1 {
    display: flex;
    justify-content: center;
    margin: 20px;
    width: 75%;
    background-color: rgb(253, 146, 187);
    border: 10px dashed cornflowerblue;
    font-family: 'Hearts', 'Times New Roman', Times, serif;
    font-size: 60px;
    letter-spacing: 3px;
    color: white;
    text-shadow: -1px 1px 0 #0091bd,
				  1px 1px 0 #0091bd,
				 1px -1px 0 #0091bd,
				-1px -1px 0 #0091bd;
  }

  i {
        cursor: pointer;
        margin: 5px;
    }

    h2 {
      margin-bottom: 10px;
      text-align: center;
      font-size: 50px;
      font-family: 'Hearts', 'Times New Roman', Times, serif;
    }

    /* Add Task */

    /* modal */
    #addTask {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    /* modal submit button */
    #submit {
      height: 30px;
      width: 125px;
      background-color: cornflowerblue;
      border-radius: 10px;
      border-color: rgb(51, 122, 253);
      color: white;
    }

  #newTask {
    height: 50px;
    width: 50%;
    max-width: 400px;
    background-color: cornflowerblue;
    border-radius: 10px;
    border-color: rgb(51, 122, 253);
    color: white;
    font-size: 30px;
  }

    #modal {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 0.4rem;
      width: 450px;
      padding: 1.3rem;
      min-height: 250px;
      position: absolute;
      top: 20%;
      background-color: pink;
      border: 1px solid #ddd;
      border-radius: 15px;
      font-family: 'Cookie', Arial, Helvetica, sans-serif;
      z-index: 2;
    }

    #top {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    #msg {
      color: red;
      font-family: sans-serif;
    }

    #modal input {
      padding: 0.7rem 1rem;
      border: 1px solid #ddd;
      border-radius: 5px;
      font-size: 0.9em;
    }

    #modal p {
      font-size: 1.5rem;
      margin: 0.4rem 0 0.2rem;
    }


    #close {
      transform: translate(10px, -20px);
      padding: 0.5rem 0.7rem;
      background: #eee;
      border-radius: 50%;
    }

    #overlay {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      backdrop-filter: blur(3px);
      z-index: 1;
    }

    .hidden {
      display: none!important;
    }


    /* Task List */


    #taskList {
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: white;
      width: 80%;
        max-width: 800px;
        margin: 10px auto;
        padding: 10px 40px;
        border: 10px solid var(--pink);
        border-radius: 50px;
    }

    #task-container {
      display: grid;
      grid-template-columns: 80% 20%;
      width: 100%;
      margin-bottom: 20px;
    }

  #labels {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      width: 80%;
      font-family:'Times New Roman', Times, serif;
      color: rgb(255, 0, 106);
      font-size: 20px;
      text-decoration: underline;
  }

  .task {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

  .task span {
    display: flex;
    align-items: center;
    margin: 10px;
  }

  .taskName {
    font-weight: bold;
  }

  .options {
    display: flex;
    margin-top: 18px;
    margin-left: 20px;
    color: rgb(255, 0, 106);
  }


  #clear {
    height: 35px;
    width: 200px;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: cornflowerblue;
    border-radius: 10px;
    border-color: rgb(51, 122, 253);
    color: white;
    font-size: 20px;
  }

  #clearContainer {
    display: flex;
    justify-content: center;

  }
